@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: auto; /* only for demonstration, should be removed */
  background:rgb(240, 240, 240) ;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;
  height: auto; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
  
}

/* Style the footer */
footer {
  background-color:white;
  text-align: center;
  color:gray;
  overflow: hidden;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

#picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* @group section */

section {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.section {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

.section h2 {
  width: 30%;
  padding-right: 30px;
  float: left;
  padding-top: 0;
  line-height: 22px;
}

.section h3 {
  line-height: 22px;
  margin-bottom: 24px;
  font-style: italic;
}

.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: -20px;
}

.section .item {
  width: 70%;
  padding-left: 50px;
  float: right;
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../images/separator.png) no-repeat 0 bottom;
}

.section .description {
  width: 70%;
}
/* end @group section */

body.grid {
  background-image: url(../images/grid.png);
}

h1 {
  font-size: 58px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

h2 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #848484;
}

h3 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}
h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}

i {
  font-size: 20px;
}

p {
  margin-bottom: 20px;
  font-weight: 600;
}

a:link, a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
  color: #000;
}

/* @group contact */

#contact {
  width: 70%;
  margin: 0 auto;
  padding: 1px 0;
}

.about {
  width: 100%;
  margin: 0 auto;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
  padding: 1px 0;
  padding-top:60px;
}
/* @end */

/* @group add skill */
.intro {
  margin: 30px 0px;
} 

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #000000;
  background-color: #adadad;
  transition: all 0.75s ease;
}

#enter:hover {
  background-color: #adadad;
  color: #ffffff;
}

ul {
  text-align: left;
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 10px 20px;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #d8d8d8;
  transition:  all 0.75s ease;
}

li > button {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  background: none;
  border: none;
  float: right;
  color: #ffffff;
}

input {
  border-radius: 5px;
  min-width: 65%;
  padding: 5px;
  border: none;
}

.delete {
  display: none;
}

/* @end */


/* @group edit name */
#name {
  font-size: 58px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

.name{
  line-height: 22px;
  margin-bottom: 24px;
}

div:focus {
  outline: none;
}

/* @end */






/* @group button change background color */
.background-header {
  background: #fff;

  align-items: center;
}
.background-header h1, span {
  font-family: 'Fredoka One', cursive;
  color: #000;
}

.btn-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 50px;
}

.btn {
  border: 2px solid #000;
  cursor: pointer;
}

.btn-black {
  width: 100%;
  background-color: black;
}
.btn-gray {
  background-color: gray;
}
.btn-white {
  background-color:white;
}
/* @end */